<div class="container mb-2">
  <div class="bg-light fs-0">

    <a class="d-inline-block bg-dark text-white px-4 py-2 mr-4 fs-1rem decoration-none" role="button" href="{{ url.get([
      'for': 'main.index'
    ]) }}">App</a>

    <ul class="d-inline-block m-0 p-0 fs-1rem">

      {% for item in menu %}

        <li class="d-inline-block">
          <a class="d-block p-2 decoration-none{{ item[ 'class' ] }}" href="{{ url.get([
            'for': item[ 'name' ]
          ]) }}">{{ item[ 'title' ] }}</a>
        </li>

      {% endfor %}

    </ul>
    <div class="d-inline-block float-right">

      {{ header_cabinet }}

    </div>
  </div>
</div>