.decoration-none {
  text-decoration: none !important;
}
.fs-0 {
  font-size: 0 !important;
}
.fs-1rem {
  font-size: 1rem !important;
}
.test {
  position: relative;
}
.test__table {
  table-layout: fixed;
}
.test__table-th {
  width: 25%;
}
.test__table-td {
  width: 75%;
}
.test__table .test__table-th,
.test__table .test__table-td {
  vertical-align: middle;
}
.login {
  position: relative;
}
.login__table {
  table-layout: fixed;
}
.login__table-th {
  width: 25%;
}
.login__table-td {
  width: 75%;
}
.login__table .login__table-th,
.login__table .login__table-td {
  vertical-align: middle;
}